[submodule "code/hksdpc250"]
	path = code/hksdpc250
	url = https://github.com/sfd158/oldlinux-homework.git
[submodule "code/sfd158"]
	path = code/sfd158
	url = https://github.com/sfd158/oldlinux-homework.git
[submodule "code/AiHxym"]
	path = code/AiHxym
	url = git@github.com:AiHxym/linux-vis.git
[submodule "code/MrDuGitHub"]
	path = code/MrDuGitHub
	url = git@github.com:MrDuGitHub/OS.git
[submodule "code/zzysdu"]
	path = code/zzysdu
	url = https://github.com/zzysdu/zzysdu_final.git
[submodule ".\\code\\vivym"]
	path = .\\code\\vivym
	url = https://github.com/vivym/linux-0.11-lab.git
