[submodule "code/hksdpc250"]
	path = code/hksdpc250
	url = https://github.com/sfd158/oldlinux-homework.git
[submodule "code/sfd158"]
	path = code/sfd158
	url = https://github.com/sfd158/oldlinux-homework.git
[submodule "code/AiHxym"]
	path = code/AiHxym
	url = git@github.com:AiHxym/linux-vis.git
[submodule "code/OS"]
	path = code/OS
	url = git@github.com:MrDuGitHub/OS.git
